@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

.c1 {
	color: #ECF0F1;
	color: #1ABC9C;
	color: #16A085;
	color: #2C3E50;
	color: #E74C3C;
}

* {
	margin: 0;
	padding: 0;
}

body, html {
	background: #212121;
	font-family: 'Roboto', sans-serif;
	color: #ECF0F1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	width: 100%;
	height: 100%;
	position: relative;
	font-size: 18px;
	overflow-x: hidden;
}

:not(.separator) {
	z-index: 10;
}

::-moz-selection {
	background-color: #2C3E50;
	color: #1ABC9C;
}

::selection {
	background-color: #2C3E50;
	color: #1ABC9C;
}

h1 {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 2rem;
	letter-spacing: 2px;
	word-spacing: 2px;
	text-shadow: 1px 1px 1px #16A085;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

a:link,
a:visited {
	text-decoration: none;
	color: #1ABC9C;
	font-weight: bold;
	position: relative;
}

a::before,
a::after{
	position: absolute;
	content:' ';
	top: calc(100% + 3px);
	right: 0;
	width: 0;
	height: 3px;
}

a:hover {
	color: #16A085;
}

a:hover::before,
a:hover::after{
	width: 100%;
	left: 0;
}

a::before {
	-webkit-transition: width .4s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
	-o-transition: width .4s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
	transition: width .4s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
	background: #2C3E50;
}

a::after {
	-webkit-transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
	-o-transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
	transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
	background: #f4d142;
}

.title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	font-size: 20px;
	margin: 0;	
}

.title span {
	font-size: 30px;
	word-spacing: 2px; 
}
.subtitle {
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.subtitle p {
	font-size: .7em;
	font-weight: 300;
	letter-spacing: 1px;
}

.main-section {
	position: relative;
	font-weight: 300;
	width: 50%;
	font-size: 1rem;
	word-spacing: 2px;
	letter-spacing: 1px;
	line-height: 1.2em;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.main-section p {
	line-height: 1.6em;
}

.align {
	position: relative;
	margin-right: 1.5em;	
}
svg .a {
	fill: #f4d142;
}

svg path {
	fill: #f4d142;	
}

.svg-icon {
	width: 1.2em;
	height: auto;
	position: absolute;
	bottom: 2px;
	left: 0;
}

.left-aligned{
	-ms-flex-item-align: start;
	    align-self: flex-start;
	margin-left: 10%;
	margin-top: 3rem;
}

.profile-image{
	position: absolute;
	top: 30px;
	left: 60%;
	height: auto;
	width: auto;
	border-radius: 50%;
	overflow: hidden;
	text-align: center;
}

.profile-image img{
	width: 45%;
	height: auto;
	border-radius: 50%;
}

.separator{
	position: absolute;
	z-index: 1;
	content:" ";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 73%;
	top: 0;
	background-color: #2C3E50;
	overflow-x: hidden;
}

@media only screen and (max-width: 780px) {
	html, body {
		font-size: 16px;
	}
	
}

@media only screen and (max-width: 600px) {
	.profile-image,
	.separator {
		display: none;
	}

	.main-section {
		width: 90%;
	}
	.left-aligned {
		margin-left: 5%;
	}

}